# node / typescript build cycle
node_modules/
dist/
# folders with test data
# release-data/apim/*/tests/
# Secrets as files
.secret.circleci.json
.secrets.json
# privately versioned files
documentation/global-process
# docker volume mapped to Circle CI pipeline
graviteeio/
graviteeio/cicd/
graviteeio/cicd/pipeline/

# when I have to quickly edit some markdown for any purpose
deleteme.md

# ---
# included node projects for orbs : secrets file and node_modules/ folder exclusion
documentation/circleci-orbs/examples/1/.secrets.json
documentation/circleci-orbs/examples/1/node_modules/

documentation/circleci-orbs/orbinoid/.secrets.json
documentation/circleci-orbs/orbinoid/node_modules/
