# node / typescript build cycle
node_modules/
dist/
# folders structure i am not sure about yet
# tests-data/apim/1.30.x/release.json
# Secrets as files
.secret.circleci.json
.secrets.json
# privately versioned files
documentation/global-process
# docker volume mapped to Circle CI pipeline
graviteeio/
graviteeio/cicd/
graviteeio/cicd/pipeline/
